#about {
    background-color: rgb(0, 0, 0);
    /* Light overlay for contrast */
    padding: 40px 0;
}

#about h2 {
    color:  rgb(0, 255, 221);
    /* Golden color for title */
}

#about p {
    color: #e0e0e0;
    font-size: 1.1rem;
}


/* Vision Section */
#vision {
    color: white;
    padding: 60px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px  rgb(0, 255, 221);
}

#vision h2 {
    color: purple;
    font-weight: bold;
}

#vision p {
    color: white;
    font-size: 1.1rem;
}

.vision-heading img {
    width: 250px;
    height: auto;
    border-radius: 10px;

}

/* Custom button styles */
.btn-gradient {
    background: linear-gradient(45deg,  rgb(0, 255, 221), #2575fc);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    transition: 0.3s ease;
}

.btn-gradient:hover {
    background: linear-gradient(45deg, #2575fc, rgb(0, 255, 221));
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .graphs p{
        font-size: medium;
    }
   .graphs .images{
    flex-direction: column;
   }
   .graphs .images img{
    width: 80vw;
    height: 30vh;
   }
}
